# Housing prices for King County

Training a simple polynomial model on Hosing Sale data from king country [data source](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)
As a learning exercise

In [58]:
from utils import load_data
import numpy as np
import pandas as pd
# Data is a pandas DataFrame
data = load_data.load_data("./data/kc_house_data.csv")

# Feature Engineering
Housing prices do not tend to be linear but curve like, thus we will be engineering some polynomial features

In [59]:
labels = data['price']
data.drop('price', axis=1, inplace=True)
data.drop('date', axis=1, inplace=True)
dataSquared = data.pow(2)
dataSquared.rename(lambda c: f"{c} squared", inplace=True, axis='columns')

dataCubed = data.pow(3)
dataCubed.rename(lambda c: f"{c} cubed", inplace=True, axis='columns')

engineeredData = data.join(dataSquared).join(dataCubed)

engineeredData[0:5]

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,grade cubed,sqft_above cubed,sqft_basement cubed,yr_built cubed,yr_renovated cubed,zipcode cubed,lat cubed,long cubed,sqft_living15 cubed,sqft_lot15 cubed
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,...,343,1643032000,0,7472058875,0,946329856735752,107247.702877,-1.827348e+06,2406104000,180362125000
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,...,343,10218313000,64000000,7426288351,7892485271,944798095703125,108674.739386,-1.830129e+06,4826809000,445768658119
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,...,216,456533000,0,7222633237,0,941998966517952,108790.239078,-1.826272e+06,20123648000,523996494328
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,...,343,1157625000,753571000,7587307125,0,945115872339456,107312.726660,-1.833453e+06,2515456000,125000000000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,...,512,4741632000,0,7845011803,0,943325698349224,107964.410613,-1.817858e+06,5832000000,422381452527

# Training Data
We have split the data into two halves, the first half will be the training data. Matrix trainingSamples contains our examples. Each row is an example and each column is a feature. Vector trainingLabels contains the labels for our training set.

In [61]:
total_rows = len(engineeredData)
trainingSetRows = total_rows // 2
trainingSamples = engineeredData[0:trainingSetRows].copy()
trainingLabels = labels[0:trainingSetRows].copy()

print(f"trainingSamples shape: {trainingSamples.shape}")
print(f"trainingLabels shape: {trainingLabels.shape}")

trainingSamples shape: (10806, 57)
trainingLabels shape: (10806,)

# Parameters
Parameter vector w and param b

In [62]:
bInit = 10
wInit = np.random.random_sample(trainingSamples.shape[1])
print(f"wInit shape: {wInit.shape}")

wInit shape: (57,)